@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  HEADER STYLES  */
nav,
.nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

nav a,
.nav-link {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  color: white;
  font-size: 24px;
}

nav a:hover,
#topnav a:hover {
  color: orange;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  font-weight: 64px;
  background-color: black;
  border-bottom: orange solid 3px;
  text-align: justify;
}

#Logo {
  width: 70px;
  height: 70px;
}

/*  END HEADER STYLES */
