@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 20px;
  justify-content: space-between;
}

nav a {
  font-family: "Raleway", sans-serif;
  margin-right: 60px;
  margin-left: 60px;
  color: white;
  font-size: 24px;
}

nav a:hover {
  color: orange;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  font-weight: 64px;
  background-color: black;
  border-bottom: orange solid 3px;
  text-align: justify;
}

#Logo {
  width: 175px;
  height: 175px;
}
